@charset 'utf-8';
@import url('webfonts.css');
/* 기본 */
#lush-main {}
.main-section {
  padding: 50px;
  border-bottom: 1px solid gray;
}
.main-container {}
.small-title {
  font-size: 0.9em;
  font-weight: 500;
}
.desc-title {
  font-size: 1.1em;
  font-weight: 600;
}
.desc {
  font-size: 0.7em;
  font-weight: 300;
  width: 100%;
}
.btn {
  border: 1px solid var(--secondary-color);
  font-size: 0.8em;
  width: 130px;
  padding: 5px;
}

/* 1. 비주얼영역 */
.main-section-visual {}
.visual-wrap {}
.visual-container {
  position: relative;
  padding-top: 100%; 
  /* 1:1 비율 박스 */
}
.visual-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
/* .main-section-visual {
  background: url(../images/visual_main.gif) center center / cover no-repeat;
  width: 100%;
  height: 100vh;
} 
.main-section-visual::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.visual-container{}
.v-container {
  position: absolute;
  left: 10%;
  top: 55%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 300px;
}
.v-txt {
  font-size: 2em;
  font-weight: 600;
}
.v-btn {
  display: flex;
  gap: 4%;
}
.v-btn a {}
.v-btn img {
  width: 100%;
} */

/* 2. 서비스 */
.main-section-service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.service-contents {
  display: flex;
  justify-content: center;
  gap: 0.8em;
}
.service-content {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  align-items: center;
  justify-content: flex-start;
}
.service-content img {
  width: 90%;
  object-fit: cover;
}
.service-content .desc {
  text-align: center;
  width: 60%;
}


/* 3. 설문 */
.main-section-survey {
  padding: 50px 30px;
}
.survey-container {
  background: url(../images/main_survey@3x.jpg) center center / cover no-repeat;
}
.survey-title {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

/* 4. 러쉬소개 */
.about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-contents {
  display: flex;
  align-items: center;
  gap: 1em;
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
.about-content:first-child,
.about-content:last-child {
  width: 90%;
}
.about-content:nth-child(2) {
  width: 75%;
}
.about-content:nth-child(3) {
  width: 85%;
}
.about-content img {
  width: 100%;
}

/* 5. 기부와 나눔 */


/* 6. 제품 */


/* 7. 매장 */


/* 8. 가치 */